<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>work</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PointF</display-name>
    <servlet-name>PointF</servlet-name>
    <servlet-class>servlet.PointF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointF</servlet-name>
    <url-pattern>/PointF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointResult</display-name>
    <servlet-name>PointResult</servlet-name>
    <servlet-class>servlet.PointResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointResult</servlet-name>
    <url-pattern>/PointResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointGetPage</display-name>
    <servlet-name>PointGetPage</servlet-name>
    <servlet-class>servlet.PointGetPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointGetPage</servlet-name>
    <url-pattern>/PointGetPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainMenu</display-name>
    <servlet-name>MainMenu</servlet-name>
    <servlet-class>servlet.MainMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainMenu</servlet-name>
    <url-pattern>/MainMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointPutPage</display-name>
    <servlet-name>PointPutPage</servlet-name>
    <servlet-class>servlet.PointPutPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointPutPage</servlet-name>
    <url-pattern>/PointPutPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>servlet.LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>M_UserInsert</display-name>
    <servlet-name>M_UserInsert</servlet-name>
    <servlet-class>servlet.M_UserInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>M_UserInsert</servlet-name>
    <url-pattern>/M_UserInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>M_UserRegister</display-name>
    <servlet-name>M_UserRegister</servlet-name>
    <servlet-class>servlet.M_UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>M_UserRegister</servlet-name>
    <url-pattern>/M_UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>M_UserUpdate</display-name>
    <servlet-name>M_UserUpdate</servlet-name>
    <servlet-class>servlet.M_UserUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>M_UserUpdate</servlet-name>
    <url-pattern>/M_UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>M_UserUpdate2</display-name>
    <servlet-name>M_UserUpdate2</servlet-name>
    <servlet-class>servlet.M_UserUpdate2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>M_UserUpdate2</servlet-name>
    <url-pattern>/M_UserUpdate2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointGraph</display-name>
    <servlet-name>PointGraph</servlet-name>
    <servlet-class>servlet.PointGraph</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointGraph</servlet-name>
    <url-pattern>/PointGraph</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterMaintenance</display-name>
    <servlet-name>MasterMaintenance</servlet-name>
    <servlet-class>servlet.MasterMaintenance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterMaintenance</servlet-name>
    <url-pattern>/MasterMaintenance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointHistory</display-name>
    <servlet-name>PointHistory</servlet-name>
    <servlet-class>servlet.PointHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointHistory</servlet-name>
    <url-pattern>/PointHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointHistoryCSV</display-name>
    <servlet-name>PointHistoryCSV</servlet-name>
    <servlet-class>servlet.PointHistoryCSV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointHistoryCSV</servlet-name>
    <url-pattern>/PointHistoryCSV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>servlet.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
</web-app>